body {
    background-image: radial-gradient(circle ,white,#D37BBB);
    text-align: justify;
}
h1 {
    color: #8A1A6B;
    text-align: center;
    font-family: cursive;
}
h2 {
    color: #A43485;
    text-align: center;
}
p {
    color: #8A1A6B;
    background-color: #EAADD9;
}
div {
    text-align: center;
}
#like{
    margin-left: 85%;
    width: 5px; 
    height: 70px;
}